@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300;400;700&family=Montserrat:wght@400;700&family=Nunito:wght@300;400;500;600;700&display=swap");

body,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Nunito", sans-serif;
}
