.share {
  width: 90%;
  margin-left: 30px;
}

.shareWrapper {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
}

.shareTop {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.shareTop-header {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 1rem 0;
  color: #adb5bd;
  font-weight: bold;
}
.shareTop-header-icon {
  font-size: 18px !important;
  margin-left: 10px;
  background-color: #f5f6f8;
  color: #f38b86;
  padding: 0.6rem;
  border-radius: 50%;
}
.shareProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  background-color: #ffd800;
}
.shareTop-header-status {
  border: 2px solid #f7f7f7;
  display: flex;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.shareInput {
  font-family: "Montserrat";
  color: #888;
  border: none;
  flex: 1;
  height: 80px;
  resize: none;
}

.shareInput:focus {
  outline: none;
}

.shareBottom {
  display: flex;
  align-items: center;
}

.shareOptions {
  display: flex;
  margin-left: 10px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}
.permMedia {
  margin-right: 5px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 700;
  color: #999 !important;
}

.shareButton {
  border: none;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  padding: 7px 2rem;
  cursor: pointer;
  color: white;
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
}

.shareImg {
  width: 100%;
  object-fit: cover;
}

.shareCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}
